.tarjeta {
    background-image: url('watermark.jpg');

    width: 400px;
    border: 1px black solid;
    border-radius: 5px 5px 5px 5px;
}

.cabecera {
    
    height: 30px;
   
}

.identificacion {
    position: relative;
    top: 5px;
    text-align: center;
    float: left;
    width: 325px;
}

.imagen {
    float: left;
    margin-left: 0.5em;
    margin-top: 0.1em;
    width: 55px;

}

.cuerpo {
   border-top: 1px solid black;
   border-bottom: 1px solid black;
    height: 120px;
}

.pie {
    text-align: center;
    font-weight: bold;
}

.foto {
    float: left;
    margin-left: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;

}

.separador {
    clear: both;
}

.texto {
    float: left;
    font-weight: bold;
}

.lista {
    list-style: none;
}